<div class="container">
  <div class="jumbotron">
    <section>
      <h1>Learn more about me</h1>
      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="assets/images/me.jpg" class="img-fluid" alt="Marina">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <div *ngIf="isDataAvailable">
          <h3>{{aboutData.firstName}} {{aboutData.lastName}}</h3>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="arrow right"></i><strong>Date of Birth:</strong> {{aboutData.birthDate | date: 'dd/MM/yyyy'}}</li>
                <li><i class="arrow right"></i><strong>Phone:</strong> {{aboutData.phone}}</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="arrow right"></i><strong>Address:</strong> {{aboutData.address}}</li>
                <!-- <li><i class="arrow right"></i> <strong>City:</strong> Pune, Maharashtra</li> -->
                <li><i class="arrow right"></i> <strong>Email:</strong> {{aboutData.email}}</li>
                <!-- <li><i class="arrow right"></i> <strong>Languages:</strong> English, Hindi, Marathi, Tamil</li> -->
              </ul>
            </div>
          </div>
          </div>
          <div *ngIf="!isDataAvailable">
            <h3>Marina David Joseph</h3>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="arrow right"></i><strong>Date of Birth:</strong> 31st August 1994</li>
                  <li><i class="arrow right"></i><strong>Phone:</strong> +91-7775870097</li>
                  <li><i class="arrow right"></i><strong>Address:</strong>A-10, Ganesh Heights, Ganesh Nagar, Dapodi</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="arrow right"></i> <strong>City:</strong> Pune, Maharashtra</li>
                  <li><i class="arrow right"></i> <strong>Email:</strong> marinajoseph509@gmail.com</li>
                  <li><i class="arrow right"></i> <strong>Languages:</strong> English, Hindi, Marathi, Tamil</li>
                </ul>
              </div>
            </div>
            </div>
            <div *ngIf="isDataAvailable"> 
              <h3>Objective</h3>
              <p>
               {{aboutData.objective}}
              </p>
            </div>   
            <div *ngIf="!isDataAvailable"> 
              <h3>Objective</h3>
              <p>
                To seek a position that utilizes my skills and knowledge. 
                To be a part of an organization, that develops new ideas in this fast moving world along with new technologies and provide a new outlook for the betterment of our society.
              </p>
            </div>  
        </div>
      </div>
    </section>
  </div>
  <div class="jumbotron">
    <div *ngIf = "isDataAvailable">
      <h3 class="education-label">Education</h3>
        <div *ngFor = "let education of aboutData.educationBlocks; let i = index">
            <h4><i class="arrow right"></i>{{education.degree}}</h4>
            <p><strong>{{education.institution}}</strong><span class="float-right">{{education.startDate | date: 'dd/MM/yyyy'}} - {{education.endDate | date: 'dd/MM/yyyy'}}</span></p>
            <p>Grade/ Percentage: {{education.grade}}</p>
        </div>
    </div>
    <div *ngIf = "!isDataAvailable">
    <h3 class="education-label">Education</h3>
      <div>
          <h4><i class="arrow right"></i>Master of Computer Applications, Management</h4>
          <p><strong>IICMR, Pune</strong><span class="float-right">August 2016 – July 2019</span></p>
          <p>CGPA: 7.860, Grade: A</p>
      </div>
      <div>
          <h4><i class="arrow right"></i>Bachelor of Science, Computer Science</h4>
          <p><strong>Fergusson College, Pune</strong><span class="float-right">March 2013 –May 2015</span></p>
          <p>Percentage: 70.75 %, First Class with Distinction</p>
      </div>
      <div>
        <h4><i class="arrow right"></i>HSC</h4>
        <p><strong>Vidya Bhavan Junior College, Pune</strong><span class="float-right">February 2012</span></p>
        <p>Percentage: 71.83 %, First Class with Distinction</p>
    </div>
    <div>
        <h4><i class="arrow right"></i>SSC</h4>
        <p><strong>St. Joseph’s Convent High School, Pune</strong><span class="float-right">March 2010</span></p>
        <p>Percentage: 83.64 %, First Class with Distinction</p>
    </div>
  </div>
  </div>
  <div class ="jumbotron">
    <div *ngIf="isDataAvailable && aboutData.tools !=''">
      <h3 class="education-label">Programming Languages & Tools</h3> 
      <p>
        {{aboutData.tools}}
      </p>
  </div>
    <div *ngIf="!isDataAvailable">
      <h3 class="education-label">Programming Languages & Tools</h3> 
      <ul class="list-inline dev-icons">
        <li class="list-inline-item"> <img class="skills-img" src="assets/images/angular-icon.png" alt="angular"></li>
        <li class="list-inline-item"><img class="skills-img" src="assets/images/html-icon.png" alt="html"></li>
        <li class="list-inline-item"><img class="skills-img" src="assets/images/css-icon.png" alt="css"></li>
        <li class="list-inline-item"><img class="skills-img" src="assets/images/bootstrap.jpg" alt="bootstrap"></li>
        <li class="list-inline-item"><img class="skills-img" src="assets/images/js.png" alt="javascript"></li>
        <li class="list-inline-item"><img class="skills-img" src="assets/images/vs.jpg" alt="Visual studio code"></li>
        <li class="list-inline-item"><img class="skills-img" src="assets/images/sts.jpg" alt="Spring tool suite"></li>
        <li class="list-inline-item"><img class="skills-img" src="assets/images/github-desktop.jpg" alt="Github desktop"></li>
    </ul>
  </div>
  </div>
  <div class="jumbotron">
    <div *ngIf= "isDataAvailable && aboutData.hobbies !=''">
      <h3 class="education-label">Hobbies</h3>
      <p>
        <i class="arrow right"></i>{{aboutData.hobbies}} 
      </p>
    </div>
    <div *ngIf= "!isDataAvailable">
      <h3 class="education-label">Hobbies</h3>
      <p>
        <i class="arrow right"></i>Apart from being a web developer, I enjoy most of my time Reading, spending time with my family & friends. 
      </p>
      <p>
      <i class="arrow right"></i>
      I also enjoy travelling and exploring different places. 
      </p> 
      <p>
        <i class="arrow right"></i>
      Listening to music, dancing & singing is also something I love to do.
        </p> 
    </div>
  </div>
</div>

